<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FS4TelemetryDecoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FS4TelemetryDecoder.FS4TelemeteryDecoder" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FS4TelemetryDecoder.Properties.Settings>
            <setting name="ReferenceLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReferenceLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReferenceAltM" serializeAs="String">
                <value>-9999</value>
            </setting>
            <setting name="FlightTimeStart" serializeAs="String">
                <value />
            </setting>
            <setting name="Type1Message" serializeAs="String">
                <value>KJ6FO FS4 HAB &lt;-- text from the WSJT LogFiles</value>
            </setting>
            <setting name="Type4Message" serializeAs="String">
                <value>KJ6FO-11 APRS &lt;-- text from the WSJT LogFiles</value>
            </setting>
            <setting name="APRS_FlightMessage" serializeAs="String">
                <value>Flying Squirrel 4 HAB &lt;-- Message tht will display in APRS (Mission Name)</value>
            </setting>
            <setting name="APRS_FlightSymbolTable" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="APRS_FlightSymbol" serializeAs="String">
                <value>O</value>
            </setting>
            <setting name="APRS_FlightCallsignSSID" serializeAs="String">
                <value>MyCall-11</value>
            </setting>
            <setting name="APRS_GroundMessage" serializeAs="String">
                <value>Ground Station.</value>
            </setting>
            <setting name="APRS_GroundSymbolTable" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="APRS_GroundSymbol" serializeAs="String">
                <value>k</value>
            </setting>
            <setting name="APRS_GroundCallsignSSID" serializeAs="String">
                <value>MyCall-10</value>
            </setting>
            <setting name="APRS_Password" serializeAs="String">
                <value>APRS PasswordHere</value>
            </setting>
            <setting name="APRS_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APRS_UserCallsign" serializeAs="String">
                <value>MyAPRSCallsign</value>
            </setting>
        </FS4TelemetryDecoder.Properties.Settings>
        <!-- <FS4TelemetryDecoder.FS4TelemeteryDecoder>
            <setting name="ReferencePointLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReferencePointLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReferencePointAltKM" serializeAs="String">
                <value>-9999</value>
            </setting>
            <setting name="MissionTime" serializeAs="String">
                <value />
            </setting>
        </FS4TelemetryDecoder.FS4TelemeteryDecoder> -->
    </userSettings>
</configuration>
